aiohttp>=3.11.8
boto3>=1.35.40
fsspec>=2024.9.0
kerchunk>=0.2.7
pandas>=2.2.3
pystac-client>=0.8.5
python-dotenv>=1.0.1
requests>=2.32.3
rioxarray>=0.18.1
s3fs>=0.4.2
shapely>=2.0.6
shortuuid>=1.0.13
xarray==2024.11.0